*{
margin:0;
padding:0;
}
h1{
	font-family: 'Bebas Neue';
	margin:3px;
	width:99.5%;
	text-align:center;
	border-top:black .15em solid;
	border-bottom:black .15em solid;
 	width: fit-content;/* Ajusta el contenido al tamaño de la página.*/

}
.contenido{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	display: flex;
	flex-direction: column;
	background:white;
	box-shadow: 4px 4px 20px #666; 
	border: 1px solid #000000;
	-moz-border-radius: 9px;
	-webkit-border-radius:9px;
	padding: 10px;
	background:#FCF1D8;	
}
#intro{
	font-family:'Roboto Condensed', sans-serif;
	
	width: fit-content;
	padding-left:.8em;
	padding-right:.8em;
	padding-bottom:1em;
}
.imagen{
	width:100%;
	padding-left:5em;
	float:left;
	padding-right:1em;
position: relative;
}
.imagen, img{
	width: 50%;
	padding-top:.8em;
}
img{
	width: 80%;
	position: absolute;
	left: 10%;
}
.info{
	display: flex;
	width: auto;
	height: 250px;
	position: relative;
}
.texto p{
	text-align:justify;
}
.precio{
	float:right;
	padding-bottom:.5em;
	letter-spacing:.1em;

}
.descripcion{
font-family: 'Open Sans Condensed', sans-serif;
}
h3{
	font-family: 'Oswald', sans-serif;
	padding-bottom:.5em;
	padding-left:.8em;
}