*{
    margin: 0;
    padding: 0;
}
body{
    margin-left: auto;
    margin-right: auto;
    background-image: url("https://img-cdn.hipertextual.com/files/2017/03/color-degradado-fondos-degradados-multicolor-51200.jpg?strip=all&lossy=1&quality=70&ssl=1");
    background-size: cover;
}
.posicion{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: 'Righteous', cursive;
    font-size: 8em;
    padding-top: 2em;
}